@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather UltraBold Italic.eot');
    src: url('../fonts/Merriweather/Merriweather UltraBold Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather UltraBold Italic.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather UltraBold Italic.ttf') format('truetype'),
        url('../fonts/Merriweather/Merriweather UltraBold Italic.svg#Merriweather UltraBold Italic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather UltraBold.eot');
    src: url('../fonts/Merriweather/Merriweather UltraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather UltraBold.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather UltraBold.ttf') format('truetype'),
        url('../fonts/Merriweather/Merriweather UltraBold.svg#Merriweather UltraBold') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Bold.eot');
	src: url('../fonts/Merriweather/Merriweather Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merriweather/Merriweather Bold.woff') format('woff'),
		url('../fonts/Merriweather/Merriweather Bold.ttf') format('truetype'),
		url('../fonts/Merriweather/Merriweather Bold.svg#Merriweather Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Bold Italic.eot');
    src: url('../fonts/Merriweather/Merriweather Bold Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather Bold Italic.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather Bold Italic.ttf') format('truetype'),
        url('../fonts/Merriweather/Merriweather Bold Italic.svg#Merriweather Bold Italic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Italic.eot');
	src: url('../fonts/Merriweather/Merriweather Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merriweather/Merriweather Italic.woff') format('woff'),
		url('../fonts/Merriweather/Merriweather Italic.ttf') format('truetype'),
		url('../fonts/Merriweather/Merriweather Italic.svg#Merriweather Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Regular.eot');
	src: url('../fonts/Merriweather/Merriweather Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merriweather/Merriweather Regular.woff') format('woff'),
		url('../fonts/Merriweather/Merriweather Regular.ttf') format('truetype'),
		url('../fonts/Merriweather/Merriweather Regular.svg#Merriweather Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Light.eot');
    src: url('../fonts/Merriweather/Merriweather Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather Light.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather Light.ttf') format('truetype'),
        url('../fonts/Merriweather/Merriweather Light.svg#Merriweather Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Light Italic.eot');
    src: url('../fonts/Merriweather/Merriweather Light Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather Light Italic.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather Light Italic.ttf') format('truetype'),
        url('../fonts/Merriweather/Merriweather Light Italic.svg#Merriweather Light Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}