/* reset */
/* main variables */
body {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #FFF;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 13px !important;
  font-weight: 400;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #343434;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.wrapper-slider:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Ubuntu */
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu Bold.eot");
  src: url("../fonts/Ubuntu/Ubuntu Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu Bold.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu Bold.ttf") format("truetype"), url("../fonts/Ubuntu/Ubuntu Bold.svg#Ubuntu Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu Bold Italic.eot");
  src: url("../fonts/Ubuntu/Ubuntu Bold Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu Bold Italic.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu Bold Italic.ttf") format("truetype"), url("../fonts/Ubuntu/Ubuntu Bold Italic.svg#Ubuntu Bold Italic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu Italic.eot");
  src: url("../fonts/Ubuntu/Ubuntu Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu Italic.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu Italic.ttf") format("truetype"), url("../fonts/Ubuntu/Ubuntu Italic.svg#Ubuntu Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu Medium.eot");
  src: url("../fonts/Ubuntu/Ubuntu Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu Medium.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu Medium.ttf") format("truetype"), url("../fonts/Ubuntu/Ubuntu Medium.svg#u Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu MediumItalic.eot");
  src: url("../fonts/Ubuntu/Ubuntu MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu MediumItalic.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu MediumItalic.ttf") format("truetype"), url("../fonts/Ubuntu/Ubuntu MediumItalic.svg#u MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu.eot");
  src: url("../fonts/Ubuntu/Ubuntu.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu.ttf") format("truetype"), url("../fonts/Ubuntu/Ubuntu.svg#Ubuntu") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu Light.eot");
  src: url("../fonts/Ubuntu/Ubuntu Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu Light.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu Light.ttf") format("truetype"), url("../fonts/Ubuntu/Ubuntu Light.svg#Ubuntu Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu Light Italic.eot");
  src: url("../fonts/Ubuntu/Ubuntu Light Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu Light Italic.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu Light Italic.ttf") format("truetype"), url("../fonts/Ubuntu/Ubuntu Light Italic.svg#Ubuntu Light Italic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

/* 'Merriweather */
@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather UltraBold Italic.eot");
  src: url("../fonts/Merriweather/Merriweather UltraBold Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather UltraBold Italic.woff") format("woff"), url("../fonts/Merriweather/Merriweather UltraBold Italic.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather UltraBold Italic.svg#Merriweather UltraBold Italic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-050F; }

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather UltraBold.eot");
  src: url("../fonts/Merriweather/Merriweather UltraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather UltraBold.woff") format("woff"), url("../fonts/Merriweather/Merriweather UltraBold.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather UltraBold.svg#Merriweather UltraBold") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-050F; }

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather Bold.eot");
  src: url("../fonts/Merriweather/Merriweather Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather Bold.woff") format("woff"), url("../fonts/Merriweather/Merriweather Bold.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather Bold.svg#Merriweather Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-050F; }

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather Bold Italic.eot");
  src: url("../fonts/Merriweather/Merriweather Bold Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather Bold Italic.woff") format("woff"), url("../fonts/Merriweather/Merriweather Bold Italic.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather Bold Italic.svg#Merriweather Bold Italic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-050F; }

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather Italic.eot");
  src: url("../fonts/Merriweather/Merriweather Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather Italic.woff") format("woff"), url("../fonts/Merriweather/Merriweather Italic.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather Italic.svg#Merriweather Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-050F; }

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather Regular.eot");
  src: url("../fonts/Merriweather/Merriweather Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather Regular.woff") format("woff"), url("../fonts/Merriweather/Merriweather Regular.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather Regular.svg#Merriweather Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-050F; }

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather Light.eot");
  src: url("../fonts/Merriweather/Merriweather Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather Light.woff") format("woff"), url("../fonts/Merriweather/Merriweather Light.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather Light.svg#Merriweather Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-050F; }

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather Light Italic.eot");
  src: url("../fonts/Merriweather/Merriweather Light Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather Light Italic.woff") format("woff"), url("../fonts/Merriweather/Merriweather Light Italic.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather Light Italic.svg#Merriweather Light Italic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-050F; }

/*ALSRubl*/
@font-face {
  font-family: 'ALSRubl';
  src: url("../fonts/ALSRubl/ALSRubl.eot");
  src: url("../fonts/ALSRubl/ALSRubl.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSRubl/ALSRubl.woff") format("woff"), url("../fonts/ALSRubl/ALSRubl.ttf") format("truetype"), url("../fonts/ALSRubl/ALSRubl.svg#ALSRubl") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0078; }

/* Sprite */
.sprite_info,
.sprite_quote,
.sprite_gift-red,
.sprite_gift-white,
.sprite_chevron-down,
.sprite_yes-option,
.sprite_exit,
.sprite_chackbox,
.sprite_not-option,
.sprite_black-down,
.sprite_black-next,
.sprite_black-prev,
.sprite_white-next,
.sprite_white-prev {
  display: inline-block;
  background: url("../img/sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.sprite_info {
  background-position: -10px -0px;
  width: 51px;
  height: 51px; }

.sprite_quote {
  background-position: -10px -61px;
  width: 44px;
  height: 39px; }

.sprite_gift-red {
  background-position: -10px -110px;
  width: 39px;
  height: 43px; }

.sprite_gift-white {
  background-position: -10px -163px;
  width: 39px;
  height: 43px; }

.sprite_chevron-down {
  background-position: -10px -216px;
  width: 26px;
  height: 24px; }

.sprite_yes-option {
  background-position: -10px -250px;
  width: 13px;
  height: 11px; }

.sprite_exit {
  background-position: -33px -250px;
  width: 12px;
  height: 14px; }

.sprite_chackbox {
  background-position: -10px -271px;
  width: 11px;
  height: 10px; }

.sprite_not-option {
  background-position: -31px -274px;
  width: 9px;
  height: 9px; }

.sprite_black-down {
  background-position: -10px -291px;
  width: 8px;
  height: 6px; }

.sprite_black-next {
  background-position: -28px -293px;
  width: 7px;
  height: 10px; }

.sprite_black-prev {
  background-position: -10px -307px;
  width: 7px;
  height: 10px; }

.sprite_white-next {
  background-position: -45px -293px;
  width: 6px;
  height: 8px; }

.sprite_white-prev {
  background-position: -45px -311px;
  width: 6px;
  height: 8px; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* fancybox variables */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #FFF;
  color: #444;
  text-shadow: none;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  /* overflow: hidden !important;*/
  width: auto; }

.fancybox-lock body {
  overflow: visible !important;
  height: auto; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font-size: 14px;
  line-height: 18px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  color: #FFF;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

/* checkbox */
/* radio */
/* select */
.jq-checkbox {
  top: -1px;
  width: 13px;
  height: 13px;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #F6F6F6;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  vertical-align: middle;
  cursor: pointer; }

.jq-checkbox.checked .jq-checkbox__div {
  width: 9px;
  height: 9px;
  margin: 2px 0 0 2px;
  background: #666;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05); }

.jq-checkbox.disabled {
  opacity: 0.5; }

.jq-radio {
  width: 12px;
  height: 12px;
  border: 1px solid #C3C3C3;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #F6F6F6;
  box-shadow: 0 0 0 0px transparent;
  -moz-box-shadow: 0 0 0 0px transparent;
  -webkit-box-shadow: 0 0 0 0px transparent;
  vertical-align: middle;
  cursor: pointer; }

.jq-radio.checked .jq-radio__div {
  width: 6px;
  height: 6px;
  margin: 3px 0 0 3px;
  background: #666; }

.jq-radio.disabled {
  opacity: 0.5; }

.jq-file {
  width: 270px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

.jq-file input {
  cursor: pointer;
  height: auto;
  line-height: 1em; }

.jq-file__name {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 0 80px 0 10px;
  color: #333;
  font: 14px/30px Arial, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1;
  background: #FFF; }

.focused .jq-file__name {
  border: 1px solid #5794BF; }

.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  border-radius: 0 4px 4px 0;
  background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  text-shadow: 1px 1px #FFF;
  font: 14px/30px Arial, sans-serif; }

.jq-file:hover .jq-file__browse {
  background-color: #E6E6E6;
  background-position: 0 -10px; }

.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD; }

.jq-file.disabled .jq-file__name {
  color: #888; }

.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888; }

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%; }

.jq-selectbox__select {
  height: 40px;
  padding: 10px 40px 0 15px;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  background: #F5F5F5;
  box-shadow: 0 0 2px 0px transparent;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-family: Arial, sans-serif; }

.jq-selectbox__select:hover {
  background: #F5F5F5; }

.jq-selectbox__select:active {
  background: #F5F5F5; }

.jq-selectbox.focused .jq-selectbox__select {
  background: #F5F5F5; }

.opened .jq-selectbox__select {
  border-color: #000; }

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888; }

.jq-selectbox__select-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%; }

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background: none; }

.jq-selectbox__dropdown {
  top: 40px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1); }

.jq-selectbox__search {
  margin: 5px; }

.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 3px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
  -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none; }

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.jq-selectbox ul {
  margin: 0;
  padding: 0; }

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 5px 10px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif; }

.jq-selectbox li.selected {
  background-color: #000;
  color: #FFF; }

.jq-selectbox li:hover {
  background-color: #000;
  color: #FFF; }

.jq-selectbox li.disabled {
  color: #ccc;
  background: none; }

.jq-selectbox li.disabled:hover {
  background: none; }

.jq-selectbox li.optgroup {
  font-weight: bold; }

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default; }

.jq-selectbox li.option {
  padding-left: 25px; }

.jq-select-multiple {
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #FFF;
  color: #333;
  font: 14px/18px Arial, sans-serif;
  cursor: default; }

.jq-select-multiple.focused {
  border: 1px solid #5794BF; }

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888; }

.jq-select-multiple ul {
  margin: 0;
  padding: 0; }

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none; }

.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0; }

.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px; }

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF; }

.jq-select-multiple li.disabled {
  color: #AAA; }

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF; }

.jq-select-multiple li.optgroup {
  font-weight: bold; }

.jq-select-multiple li.option {
  padding-left: 25px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  padding: 0 25px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  color: #fff; }

.box-header a {
  color: #fff; }

.box-logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #a38c76; }
  .box-logo__link {
    display: block;
    width: inherit;
    height: inherit;
    padding: 13px 0 0 8px; }
  .box-logo__text {
    display: block;
    font-size: 0.923em;
    line-height: 1.769em; }

.box-nav {
  display: inline-block;
  vertical-align: top; }

.main-nav {
  padding: 41px 23px; }

.main-nav-list {
  list-style: none; }
  .main-nav-list__item {
    display: inline-block;
    margin-right: 18px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.385em; }
  .main-nav-list__item:last-child {
    margin-right: 0; }
  .main-nav-list__link {
    display: block; }
    .main-nav-list__link:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      border-bottom: 1px solid #fff; }

.box-contacts {
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 270px;
  height: 100px;
  padding: 11px 0 0 33px;
  background-color: rgba(163, 140, 118, 0.5); }
  .box-contacts__time-work {
    display: block;
    line-height: 1.769em; }
  .box-contacts__tel {
    display: block;
    font-size: 1.923em;
    line-height: 1.185em; }
  .box-contacts__link {
    display: inline-block;
    line-height: 1.769em;
    margin-left: 2px;
    padding-bottom: 1px;
    border-bottom: 1px dashed #fff; }
    .box-contacts__link:hover {
      border-bottom: 1px solid #fff; }

.box-nav-mobile {
  display: none; }

@media screen and (max-width: 1240px) {
  .box-header {
    padding: 0; }
  .main-nav-list__item {
    margin-right: 10px; } }

@media screen and (max-width: 1140px) {
  .main-nav-list__item {
    font-size: 0.875em; }
  .box-contacts {
    width: 200px;
    height: 85px;
    padding-left: 23px;
    font-size: 0.775em; } }

@media screen and (max-width: 991px) {
  .box-nav,
  .box-contacts {
    display: none; }
  .box-nav {
    background-color: #fff; }
  .main-nav {
    padding: 15px 0; }
    .main-nav a {
      width: 87%;
      color: #a38c76; }
      .main-nav a:hover {
        border-color: #a38c76; }
  .main-nav-list__item {
    display: block;
    padding: 10px 0 10px 105px;
    font-size: 1.077em; }
  .box-nav-mobile {
    display: inline-block;
    float: right;
    padding-top: 25px; }
  .tel-mobile {
    display: inline-block;
    width: 40px;
    height: 35px;
    padding-top: 8px;
    text-align: center;
    font-size: 2.5em; }
    .tel-mobile:hover {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); }
  .button-nav {
    display: block;
    position: relative;
    float: right;
    width: 40px;
    height: 35px;
    margin-left: 20px; }
  .button-nav span {
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    margin: 6px auto; }
  .button-nav.active {
    margin-top: 40px; }
  .button-nav.active span:nth-child(2) {
    background: transparent; }
  .button-nav.active span:nth-child(1),
  .button-nav.active span:nth-child(3) {
    position: absolute;
    margin: 0; }
  .button-nav.active span:nth-child(1) {
    top: 10px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .button-nav.active span:nth-child(3) {
    top: 10px;
    right: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); } }

@media screen and (max-width: 480px) {
  .main-nav-list__item {
    padding: 10px 0 10px 35px; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  text-align: left;
  width: 100%;
  min-width: 320px;
  padding: 7px 0 15px 0;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

.main-wrapper {
  padding: 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.wrapper {
  min-width: 320px;
  max-width: 1920px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  font-size: 13px;
  line-height: 18px;
  color: #343434;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #343434;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h2 {
  font-size: 2.26em;
  line-height: 1.769em;
  color: #343434;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 300;
  letter-spacing: 0.4px; }

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #343434;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

/* box-home */
.box-home {
  position: relative;
  background: url(../img/img-background/bg-box_home.jpg) top no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.4) inset;
  color: #fff; }
  .box-home .wrapper {
    height: 100vh; }

.flex-wrap {
  margin-top: 40px; }

.box-home-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 100%; }
  .box-home-title p {
    font-size: 6.923em;
    font-weight: 500;
    color: #fff; }
  .box-home-title h1 {
    padding-top: 0;
    font-size: 3.846em;
    font-weight: 500;
    line-height: 1.769em;
    color: #fff; }

.box-home-baner {
  position: absolute;
  right: 55px;
  bottom: 48px;
  width: 270px;
  height: 114px;
  padding: 14px 22px;
  background-color: rgba(163, 140, 118, 0.5);
  letter-spacing: 0.2px; }
  .box-home-baner span {
    display: inline-block;
    line-height: 1.615em; }
  .box-home-baner span.box-home-baner__title {
    font-size: 1.231em;
    line-height: 2em;
    margin-bottom: 3px; }

.box-arrow-down {
  position: absolute;
  left: 0;
  bottom: 13px;
  width: 100%;
  text-align: center; }
  .box-arrow-down a {
    display: inline-block;
    width: 30px;
    height: 30px; }

.sprite_chevron-down {
  cursor: pointer; }

/* box-advantages */
.box-advantages {
  padding: 150px 0 128px 0; }
  .box-advantages .wrapper {
    text-align: center; }

.box-advantages-content {
  line-height: 1.385em;
  letter-spacing: 0.2px;
  font-weight: 400; }

.box-advantages-content p:first-child {
  padding: 26px 0 0;
  font-size: 1.231em; }

.box-advantages-content p:last-child {
  padding-top: 10px;
  font-size: 1.692em;
  color: #eb4141; }

/* box-slider */
.box-slider {
  background-color: #f3f3f3; }

.box-slider__title {
  text-align: center;
  padding: 28px 0 35px 0; }

.wrapper-slider {
  position: relative; }

/* big slider */
.box-slider-big {
  height: 100%; }
  .box-slider-big .slick-slide .item-img {
    opacity: 0.3; }
  .box-slider-big .slick-current .item-img {
    opacity: 1; }

.box-slider-big__item {
  position: relative;
  height: 100%; }

.item-img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }
  .item-img img {
    width: 100%; }
  .item-img::before {
    content: "";
    position: absolute;
    display: block;
    top: 35%;
    left: 0;
    width: 100%;
    height: 65%;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%); }

.slick-prev,
.slick-next {
  position: absolute;
  top: 43.8%;
  width: 70px;
  height: 70px;
  text-align: center;
  z-index: 99;
  background-color: rgba(20, 25, 30, 0.5);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .slick-prev:hover,
  .slick-next:hover {
    background-color: rgba(20, 25, 30, 0.9); }

.slick-prev {
  left: 85px; }

.slick-next {
  right: 86px; }

.sprite_white-next,
.sprite_white-prev {
  margin: 31px auto; }

.item-descr {
  position: absolute;
  left: 24px;
  bottom: 18px;
  z-index: 99; }
  .item-descr span {
    display: block;
    line-height: 1.769em; }
  .item-descr span:first-child {
    color: #bdc0c0; }
  .item-descr span:last-child {
    text-transform: uppercase;
    font-size: 1.154em;
    color: #fff; }

.slick-slide .item-descr {
  display: none; }

.slick-active .item-descr {
  display: block; }

/* small slider */
.box-slider-small-text {
  position: absolute;
  top: 63px;
  left: 12.032%;
  width: 40px;
  height: 80px;
  font-size: 1.308em;
  font-weight: 500;
  line-height: 1.4em;
  text-transform: uppercase; }

.js-text-hide {
  display: none; }

.box-slider-small {
  width: 60.157%;
  margin: 0 auto;
  padding: 31px 0 31px; }
  .box-slider-small__item {
    position: relative;
    width: 100%;
    height: 100%; }
    .box-slider-small__item:hover .item-img::before {
      background: rgba(0, 0, 0, 0.75);
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    .box-slider-small__item:hover .item-descr {
      left: 21%;
      bottom: 32%;
      text-align: center;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .box-slider-small__item:hover .item-descr span {
        font-size: 1.077em;
        line-height: 1.369em;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
  .box-slider-small .slick-prev,
  .box-slider-small .slick-next {
    position: absolute;
    top: 29px;
    width: 70px;
    height: 68%;
    text-align: center;
    z-index: 99;
    background-color: #dadada;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .box-slider-small .slick-prev:hover,
    .box-slider-small .slick-next:hover {
      background-color: #b4b4b4; }
  .box-slider-small .slick-prev {
    left: -13%; }
  .box-slider-small .slick-next {
    right: -13%; }
  .box-slider-small .sprite_black-next,
  .box-slider-small .sprite_black-prev {
    position: absolute;
    top: 48%;
    left: 46%; }

.slick-prev.slick-disabled {
  visibility: hidden; }

.box-slider-small__item {
  margin: 0 15px; }
  .box-slider-small__item:nth-child(5n+4) {
    margin-left: 10px; }
  .box-slider-small__item:nth-child(4) {
    margin-left: 15px; }
  .box-slider-small__item .item-img {
    display: inline-block;
    width: 100%;
    background: center no-repeat;
    background-size: cover; }
    .box-slider-small__item .item-img .item-img img {
      width: 100%; }
    .box-slider-small__item .item-img::before {
      top: 0;
      width: 100%;
      height: 97%;
      background: rgba(0, 0, 0, 0.4);
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }
  .box-slider-small__item .item-descr {
    left: 8px;
    bottom: 7px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .box-slider-small__item .item-descr span {
      font-size: 0.92em;
      font-weight: 300;
      letter-spacing: 0.5px;
      text-transform: none;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }

.slick-prev,
.slick-next,
.item-img,
.item-descr {
  cursor: pointer; }

/* box-preview */
.box-preview {
  padding: 87px 0 76px;
  text-align: center;
  border-bottom: 1px solid #ede8e4; }

.box-preview-content {
  width: 570px;
  margin: 23px auto 0; }

.box-preview-content p {
  margin-left: 2px;
  letter-spacing: 0.2px; }

.box-preview-content p:first-child {
  margin-left: -1px;
  padding-bottom: 0px;
  font-size: 1.538em; }

.box-preview-content p:last-child {
  line-height: 1.779em; }

.box-preview-button {
  margin-top: 29px; }

.button {
  display: inline-block;
  padding: 9.5px 38px;
  font-size: 0.923em;
  font-weight: 700;
  line-height: 1.769em;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  color: #fff;
  background-color: #a38c76;
  border-bottom: 3px solid #917a64;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .button:hover {
    background-color: #917a64; }

/* box-price */
.box-price {
  padding: 28px 0 40px 0; }

.box-price-title {
  padding-bottom: 30px;
  text-align: center; }

.box-price-content {
  width: 870px;
  margin: 0 auto; }

.content-item__box-title,
.content-item__box-options-list,
.content-item__box-button,
.content-item__box-gift {
  text-align: center;
  border: 1px solid #eaeaea; }

.content-item {
  display: inline-block;
  width: 270px;
  margin-right: 27px; }
  .content-item:last-child {
    margin-right: -5px; }
  .content-item__box-title h3 {
    padding: 18px 0 0;
    font-size: 1.308em;
    line-height: 1.769em;
    color: #a38c76; }
  .content-item__box-title p {
    padding: 0 0 23px;
    margin: -2px 0 0 -1px; }
  .content-item__box-options-list {
    margin-top: -1px;
    padding: 33px 0 32px 52px;
    text-align: left;
    list-style: none; }
  .content-item__box-button {
    margin-top: -1px; }
    .content-item__box-button p {
      padding: 32px 0 30px;
      font-size: 1.538em;
      letter-spacing: 0.35px; }
      .content-item__box-button p span {
        font-family: 'ALSRubl'; }
    .content-item__box-button .button {
      margin-bottom: 33px;
      padding: 8px 51px;
      color: #a38c76;
      border: 1px solid #a38c76;
      background-color: #fff;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .content-item__box-button .button:hover {
        color: #fff;
        border: 1px solid #fff;
        background-color: #a38c76; }
  .content-item__box-gift {
    position: relative;
    text-align: left;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .content-item__box-gift::before {
      content: "";
      position: absolute;
      top: -190px;
      left: -10px;
      width: 40px;
      height: 186px;
      background: url(../img/arrow-red.png) center no-repeat; }
    .content-item__box-gift:hover {
      background-color: #e64545;
      border: 1px solid #e64545; }
      .content-item__box-gift:hover .box-gift__icon i {
        position: relative; }
        .content-item__box-gift:hover .box-gift__icon i::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 39px;
          height: 43px;
          background: url(../img/sprite.png) -10px -163px no-repeat; }
      .content-item__box-gift:hover .box-gift__text p,
      .content-item__box-gift:hover .box-gift__text span {
        color: #fff; }
    .content-item__box-gift .box-gift__icon {
      display: inline-block;
      vertical-align: top;
      width: 15%;
      margin: 21px 0 0 23px; }
    .content-item__box-gift .box-gift__text {
      display: inline-block;
      vertical-align: top;
      width: 75%;
      margin-right: -5px;
      padding-left: 15px; }
    .content-item__box-gift p {
      padding: 14px 0 9px;
      line-height: 1.58em; }
    .content-item__box-gift span {
      display: block;
      margin-bottom: 17px;
      font-size: 1.154em;
      color: #e64545; }

.box-options-list__item {
  position: relative;
  line-height: 2.308em; }
  .box-options-list__item::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -24px;
    width: 13px;
    height: 11px;
    background: url(../img/sprite.png) -10px -250px no-repeat; }

.box-options-list__item:nth-child(9) span {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  text-align: center;
  font-size: 0.846em;
  line-height: 1.538em;
  color: #343434; }

.content-item:nth-child(3) .content-item__box-gift {
  visibility: hidden; }

.box-options-list__item_not-option {
  color: #aaaaaa; }
  .box-options-list__item_not-option::before {
    top: 12px;
    left: -22px;
    height: 9px;
    background: url(../img/sprite.png) -31px -274px no-repeat; }

.content-item:nth-child(1) .box-options-list__item:nth-child(8),
.content-item:nth-child(1) .box-options-list__item:nth-child(9),
.content-item:nth-child(1) .box-options-list__item:nth-child(10) {
  color: #aaaaaa; }
  .content-item:nth-child(1) .box-options-list__item:nth-child(8)::before,
  .content-item:nth-child(1) .box-options-list__item:nth-child(9)::before,
  .content-item:nth-child(1) .box-options-list__item:nth-child(10)::before {
    top: 12px;
    left: -22px;
    width: 9px;
    height: 9px;
    background: url(../img/sprite.png) -31px -274px no-repeat; }

/* box-calc */
.box-calc {
  padding: 19px 0 97px 0;
  text-align: center; }
  .box-calc .box-form {
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: none; }
    .box-calc .box-form form {
      width: 830px;
      text-align: left;
      margin: 0 auto;
      padding: 33px 30px 53px; }
    .box-calc .box-form .box-field {
      margin-bottom: 40px; }
      .box-calc .box-form .box-field__label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.077em;
        line-height: 1.769em; }
    .box-calc .box-form .button {
      padding: 10px 29px; }

.box-field__input {
  position: relative; }
  .box-field__input_range {
    margin-top: 27px; }

.box-field-left,
.box-field-right {
  display: inline-block;
  vertical-align: top;
  width: 50%; }

.box-field-left {
  padding-right: 15px; }

.box-field-right {
  margin-right: -5px;
  padding-left: 12px; }

.jq-selectbox__select {
  padding-left: 13px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 0.923em;
  font-weight: 500;
  line-height: 1.769em;
  border: 0;
  border-radius: 0;
  background-color: #ebebeb; }

.jq-selectbox__dropdown {
  border-radius: 0;
  border-color: #ebebeb; }

.jq-selectbox li {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif; }
  .jq-selectbox li.selected {
    background-color: #a38c76; }
  .jq-selectbox li:hover {
    background-color: #917a64; }

.jq-selectbox__trigger-arrow {
  border: 0;
  background: url(../img/sprite.png) -10px -291px no-repeat;
  width: 8px;
  height: 6px; }

.point-slider {
  position: absolute;
  display: block;
  top: -15px;
  left: 0;
  width: 100px;
  height: 40px;
  margin-right: 25px;
  padding-top: 10px;
  text-align: center;
  font-size: 0.923em;
  line-height: 1.769em;
  font-weight: 500;
  background-color: #ebebeb; }

.js-range {
  position: relative;
  height: 7px;
  margin-left: 122px; }
  .js-range::before, .js-range::after {
    position: absolute;
    display: inline-block;
    font-size: 1.077em;
    line-height: 1.769em; }
  .js-range::before {
    content: "0";
    top: -27px;
    left: -2px; }
  .js-range::after {
    content: "500";
    top: -29px;
    right: -2px; }
  .js-range span:nth-child(3) {
    display: none; }

.ui-widget.ui-widget-content {
  border: 0;
  border-radius: 0;
  background-color: rgba(163, 140, 118, 0.5); }

.ui-widget-content .ui-state-default {
  width: 15px;
  height: 14px;
  border: 0;
  border-radius: 0;
  background: url(../img/handle.png) center no-repeat #a38c76; }

.list-check {
  list-style: none; }
  .list-check__item {
    display: inline-block; }

.label-text {
  display: inline-block;
  margin-right: 36px;
  line-height: 1.538em; }

.jq-checkbox {
  border: 0;
  border-radius: 0;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background-color: #ebebeb; }
  .jq-checkbox.checked {
    background-color: #a38c76; }
    .jq-checkbox.checked .jq-checkbox__div {
      width: 15px;
      height: 15px;
      margin: 5px 0 0 5px;
      background: url(../img/sprite.png) -10px -271px no-repeat rgba(163, 140, 118, 0.4); }

/* box-calc */
/* box-app */
.box-app {
  padding: 59px 0 0 0;
  background: url(../img/img-background/bg-box_app.jpg) bottom no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.85) inset; }
  .box-app-content {
    width: 776px;
    margin: 0 auto; }

.content-left,
.content-right {
  display: inline-block;
  vertical-align: top;
  width: 50%; }

.content-left {
  padding-top: 42px; }
  .content-left h2 {
    font-size: 3.077em;
    font-weight: 300;
    line-height: 0.45em;
    letter-spacing: 0; }
  .content-left p {
    padding: 9px 0 0 2px;
    line-height: 1.769em; }

.content-left-icon {
  padding: 32px 0 0 3px; }
  .content-left-icon__item {
    display: inline-block;
    width: 89px;
    height: 31px;
    margin-right: 12px;
    background-size: 100%; }
    .content-left-icon__item a {
      display: block;
      width: 89px;
      height: 31px;
      background-size: 100%; }
    .content-left-icon__item_item_first a {
      background: url(../img/img-app-store.png) center no-repeat; }
    .content-left-icon__item_item_second a {
      background: url(../img/img-google-play.png) center no-repeat; }

.content-right {
  margin-left: -5px;
  padding: 0 0 0 63px; }

.content-right-image {
  width: 323px; }
  .content-right-image__item {
    height: 341px;
    background: url(../img/img-hend.png) center no-repeat;
    background-size: 100%; }

/* box-callback */
.box-callback {
  padding: 90px 0 112px 0;
  background: url(../img/img-background/bg-box_callback.jpg) bottom no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.8) inset; }

.box-callback-content {
  width: 978px;
  margin: 0 auto; }
  .box-callback-content .content-left {
    padding-top: 53px; }
    .box-callback-content .content-left h2 {
      padding-bottom: 10px;
      line-height: 1.15em; }
    .box-callback-content .content-left p {
      padding: 0 163px 0 2px;
      font-size: 1.077em;
      line-height: 1.846em; }
  .box-callback-content .content-right {
    padding: 0 0 0 17px; }

.box-form {
  width: 470px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.2); }

form {
  padding: 57px 50px 44px;
  text-align: center; }
  form .button {
    border: none;
    margin-top: 40px;
    padding: 10px 77px;
    letter-spacing: 0.5px;
    border-bottom: 3px solid #917a64; }

.form-control {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 13px;
  font-size: 0.923em;
  line-height: 1.846em;
  border: none;
  background-color: #ebebeb; }

/* box-about-us */
.box-about-us {
  padding-top: 59px;
  background-color: #f6f6f6; }

.box-about-us-content {
  width: 978px;
  margin: 0 auto; }
  .box-about-us-content .content-left {
    width: 38%;
    margin-left: -66px;
    padding: 0; }
  .box-about-us-content .content-right {
    width: 62%;
    max-width: 570px;
    padding: 18px 0 0 99px; }
    .box-about-us-content .content-right h2 {
      position: relative;
      font-family: 'Merriweather';
      font-size: 1.923em;
      font-weight: 300;
      font-style: italic;
      line-height: 1.769;
      letter-spacing: 0; }
      .box-about-us-content .content-right h2::before {
        content: "";
        position: absolute;
        top: 2px;
        left: -47px;
        width: 44px;
        height: 39px;
        background: url(../img/sprite.png) -10px -61px no-repeat; }
    .box-about-us-content .content-right p {
      width: 569px;
      margin-left: 1px;
      padding-top: 1px;
      line-height: 1.95em;
      word-wrap: normal; }
    .box-about-us-content .content-right__text {
      display: none;
      font-size: 1.585em;
      line-height: 1.769em;
      float: right;
      padding-left: 100px; }
    .box-about-us-content .content-right__text p span {
      color: #a5a5a5;
      font-size: 0.7em;
      line-height: 1.769em; }
    .box-about-us-content .content-right .button {
      margin-top: 43px;
      padding: 10px 35px;
      letter-spacing: 0.55px; }

.content-left-image {
  position: relative;
  width: 244px; }
  .content-left-image__img {
    height: 409px;
    background: url(../img/cool-man.png) center no-repeat;
    background-size: 100%; }
  .content-left-image__text {
    position: absolute;
    width: 150px;
    bottom: 80px;
    right: -113px; }
    .content-left-image__text span:first-child {
      display: inline-block;
      color: #a5a5a5;
      line-height: 1.769em; }
    .content-left-image__text span:last-child {
      display: inline-block;
      margin: -1px 0 0 -1px;
      font-size: 1.385em;
      line-height: 1.769em; }

/*popup*/
.popup {
  position: absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0; }

.window-open {
  width: 100%;
  background: #fff;
  position: relative; }

.fancybox-overlay {
  background: rgba(0, 0, 0, 0.8); }

.fancybox-skin {
  border-radius: 0;
  background-color: transparent; }

.fancybox-opened .fancybox-skin {
  box-shadow: none; }

.fancybox-title {
  display: none; }

.fancybox-close {
  background: url(../img/sprite.png) -33px -250px no-repeat;
  width: 15px;
  height: 15px;
  top: -19px;
  right: 48%; }

#popup-form {
  width: 570px;
  height: auto;
  padding: 29px 100px 40px;
  text-align: center; }
  #popup-form .button {
    margin-top: 35px; }
  #popup-form textarea {
    border: 0;
    resize: none;
    width: 100%;
    padding: 13px 0 0 13px;
    background-color: #ebebeb; }

.box-title p {
  font-size: 1.308em;
  padding-bottom: 34px; }

/*popup*/
@media screen and (max-width: 1240px) {
  .box-home-baner {
    right: 30px; } }

@media screen and (max-width: 1200px) {
  .content-left h2 {
    font-size: 2.865em; }
  .box-callback-content .content-left p {
    padding-right: 45px; } }

@media screen and (max-width: 1140px) {
  .box-home-title p {
    font-size: 4.923em; }
  .box-home-title h1 {
    font-size: 2.846em; }
  .box-home-baner {
    width: 200px;
    height: 85px;
    padding: 9px 15px;
    font-size: 0.775em; }
  .content-left {
    padding-left: 31px; }
  .box-callback-content .content-right {
    padding-left: 0; }
  .box-about-us-content .content-left {
    margin: 0; }
  .box-about-us-content .content-right p {
    width: 100%; } }

@media screen and (max-width: 1040px) {
  .box-callback-content {
    width: 100%; }
  .box-about-us-content {
    width: 100%; }
    .box-about-us-content .content-right {
      padding: 18px 0px 0 35px;
      max-width: 520px;
      float: right; } }

@media screen and (max-width: 991px) {
  .slick-prev {
    left: 30px; }
  .slick-next {
    right: 30px; }
  .box-slider-small-text {
    font-size: 1em; }
  .box-slider-small .slick-prev,
  .box-slider-small .slick-next {
    width: 50px; }
  .box-price-content {
    width: 100%; }
  .content-item {
    display: block;
    width: 400px;
    margin: 0 auto 40px; }
    .content-item__box-options-list {
      padding-left: 130px; }
    .content-item__box-gift .box-gift__icon {
      margin-left: 70px; }
    .content-item__box-gift::before {
      left: 55px; }
    .content-item__box-gift .box-gift__text {
      width: 55%; }
    .content-item:last-child {
      margin: 0 auto; }
      .content-item:last-child .content-item__box-gift {
        display: none; }
  .box-options-list__item:nth-child(9)::after {
    right: 70px; }
  .content-left-image {
    width: 71%; }
    .content-left-image__img {
      background-position: bottom; }
    .content-left-image__text {
      bottom: 15%; }
  .box-about-us-content .content-right h2 {
    font-size: 1.523em; }
  .box-about-us-content .content-right p {
    font-size: 0.875em; }
  .box-about-us-content .content-right .button {
    margin-top: 18px; }
  .box-callback {
    padding: 25px 0 45px; }
  .box-callback-content .content-left {
    width: 100%;
    padding: 0;
    text-align: center; }
    .box-callback-content .content-left h2 {
      font-size: 2.4em; }
  .box-callback-content .content-right {
    width: 100%;
    margin: 0; }
  .box-callback-content .box-form {
    width: 90%;
    margin: 25px auto 0; } }

@media screen and (max-width: 910px) {
  .box-calc .box-form form {
    width: 100%;
    padding: 0 10px 33px; }
  .box-calc .box-form .box-field {
    margin-bottom: 20px; }
    .box-calc .box-form .box-field-left {
      margin-bottom: 20px; }
  .box-calc .box-form .button {
    margin-bottom: 25px; }
  .list-check__item {
    margin-top: 10px; } }

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.769em; }
  .box-home-title p {
    font-size: 3.223em; }
  .box-home-title h1 {
    font-size: 1.846em; }
  .box-home-baner {
    bottom: 78px; }
  .box-slider {
    padding-bottom: 65px; }
    .box-slider__title {
      padding: 0; }
  .wrapper-slider:last-child {
    display: none; }
  .box-advantages {
    padding: 45px 0; }
  .box-advantages-content p:first-child {
    font-size: 1em; }
  .box-advantages-content p:last-child {
    font-size: 1.241em; }
  .box-preview {
    padding: 35px 0; }
  .box-preview-content {
    width: 100%; }
  .box-price {
    padding: 20px 0; }
  .box-price-title {
    padding: 0; }
  .box-calc {
    padding-bottom: 0; }
  .box-field-left,
  .box-field-right {
    width: 100%;
    margin: 0;
    padding: 0; }
  .box-calc .box-form .box-field__label {
    font-size: 0.975em; }
  .label-text {
    font-size: 0.935em; }
  .box-app-content {
    width: 100%; }
  .content-left,
  .content-right {
    padding-left: 10px; }
  .box-about-us-content {
    text-align: center;
    padding-top: 25px; }
    .box-about-us-content .content-left {
      display: none; }
    .box-about-us-content .content-right {
      text-align: left;
      width: 100%;
      float: none; }
      .box-about-us-content .content-right__text {
        display: block; }
      .box-about-us-content .content-right .button {
        margin-bottom: 45px; }
  .box-app {
    padding-top: 25px; } }

@media screen and (max-width: 650px) {
  .content-left {
    width: 55%;
    padding-left: 0px; }
    .content-left h2 {
      font-size: 2.4em; }
    .content-left p {
      font-size: 0.875em; }
  .content-right {
    width: 45%;
    padding-left: 5px; }
  .box-callback-content .content-left h2 {
    font-size: 2.1em; }
  #popup-form {
    width: 370px;
    padding: 29px 25px 40px; }
  .window-open {
    width: 370px;
    margin: 00 auto; } }

@media screen and (max-width: 550px) {
  .item-descr {
    font-size: 0.675em;
    left: 12px;
    bottom: 9px; }
  .box-advantages-content p:first-child {
    font-size: 0.933em; }
  .box-advantages-content p:last-child {
    font-size: 1.177em; }
  .box-preview-content p:first-child {
    font-size: 1.338em; }
  .box-preview-content p:last-child {
    font-size: 0.875em; }
  .box-about-us-content .content-right h2 {
    font-size: 1.323em; }
  .box-about-us-content .content-right__text {
    font-size: 1.3em;
    padding-left: 0; }
    .box-about-us-content .content-right__text p {
      padding: 5px 0; } }

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 10px; }
  h2 {
    font-size: 1.2em;
    font-weight: 400; }
  .box-home-title p {
    font-size: 2.721em; }
  .box-home-title h1 {
    font-size: 1.546em; }
  .box-slider {
    padding-bottom: 25px; }
  .box-advantages {
    padding: 25px 0; }
  .box-preview {
    padding: 25px 0; }
    .box-preview-content {
      margin-top: 13px; }
    .box-preview-button {
      margin-top: 14px; }
  .content-item {
    width: 270px;
    margin: 0 auto 30px; }
    .content-item__box-options-list {
      padding: 15px 45px; }
    .content-item__box-gift .box-gift__icon {
      margin-left: 15px; }
    .content-item__box-gift::before {
      top: -175px;
      left: -15px; }
    .content-item__box-gift .box-gift__text {
      width: 75%; }
    .content-item:last-child {
      margin: 0 auto; }
      .content-item:last-child .content-item__box-gift {
        display: none; }
  .box-options-list__item:nth-child(9)::after {
    right: -20px; }
  .box-about-us-content .content-right {
    padding-left: 10px; }
    .box-about-us-content .content-right h2 {
      margin-left: 45px; }
    .box-about-us-content .content-right .button {
      text-align: center; }
  .box-form {
    width: 100%; }
    .box-form form {
      padding: 52px 20px; }
  .box-app .content-right {
    display: none; }
  .content-left {
    text-align: center;
    width: 100%;
    padding: 0 0 25px; }
  #popup-form {
    width: 260px;
    padding: 29px 12px 40px; }
  .window-open {
    width: 260px;
    margin: 0 auto; } }

/* placholder */
input::-webkit-input-placeholder {
  font-weight: 500; }

input::-moz-placeholder {
  font-weight: 500; }

/* Firefox 19+ */
input:-moz-placeholder {
  font-weight: 500; }

/* Firefox 18- */
input:-ms-input-placeholder {
  font-weight: 500; }

textarea::-webkit-input-placeholder {
  font-weight: 500; }

textarea::-moz-placeholder {
  font-weight: 500; }

/* Firefox 19+ */
textarea:-moz-placeholder {
  font-weight: 500; }

/* Firefox 18- */
textarea:-ms-input-placeholder {
  font-weight: 500; }
