/* reset */
$min-width: 320px; 
$max-width: 1920px; 
$base-bg: #FFF;
$costom-bg: #ebebeb;
$base-font-size: 13px; 
$base-line-height: 18px;
$base-font-wight: 400;
$base-font-family: 'Ubuntu', Arial, Helvetica, sans-serif; 
$custom-font-family: 'Ubuntu', Arial, Helvetica, sans-serif; 
$link-color: #100da9;
$default-transition: all 0.3s linear;

/* main variables */

//text, titles
$text-color: rgb(52, 52, 52);
$title-color: $text-color;
$title-color-brown: rgb(163, 140, 118);
$title-font-family: $custom-font-family;

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;