
//main styles
.main-wrapper{
	padding: 0;
	min-width: $min-width;
  width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font(2.26em,1.769em,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 300;
	letter-spacing: 0.4px;
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}

/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{
	background:url(../img/loader.gif) no-repeat left top;
	width:40px;
	height:40px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-20px;
	margin-left:-20px;
	display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align: left;
  width: 100%;
	order: 2;
	flex-grow: 1;
}

/* box-home */
.box-home{
	position: relative;
	background: url(../img/img-background/bg-box_home.jpg) top no-repeat;
	background-size: cover;
	box-shadow:0 0 0 9999px rgba(0, 0, 0, 0.4) inset;
	color: #fff;
	.wrapper{
		height: 100vh;
	}
}
.flex-wrap{
	margin-top: 40px;
}
.box-home-title{
	display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
	& p{
		font-size: 6.923em;
		font-weight: 500;
		color: #fff;
	}
	& h1{
		padding-top: 0;
		font-size: 3.846em;
		font-weight: 500;
		line-height: 1.769em;
		color: #fff;
	}
}
.box-home-baner{
	position: absolute;
	right: 55px;
	bottom: 48px;
	width: 270px;
	height: 114px;
	padding: 14px 22px;
	background-color: rgba(163, 140, 118, 0.5);
	letter-spacing: 0.2px;
	& span{
		display: inline-block;
		line-height: 1.615em;
	}
	& span.box-home-baner__title{
		font-size: 1.231em;
		line-height: 2em;
		margin-bottom: 3px;
	}
}
.box-arrow-down{
	position: absolute;
	left: 0;
	bottom: 13px;
	width: 100%;
	text-align: center;
	& a{
		display: inline-block;
		width: 30px;
		height: 30px;
	}
}
.sprite_chevron-down{
	cursor: pointer;
}

/* box-advantages */
.box-advantages{
	padding: 150px 0 128px 0;
	.wrapper{
	  text-align: center;
	}
}
.box-advantages-content{
	line-height: 1.385em;
	letter-spacing: 0.2px;
	font-weight: $base-font-wight;
}
.box-advantages-content p:first-child{
		padding: 26px 0 0;
		font-size: 1.231em;
}
.box-advantages-content p:last-child{
		padding-top: 10px;
		font-size: 1.692em;
		color: rgb(235, 65, 65);		
}

/* box-slider */
.box-slider{
	background-color: rgb(243, 243, 243);
}
.box-slider__title{
	text-align: center;
	padding: 28px 0 35px 0;
}
.wrapper-slider{
	position: relative;
}

		/* big slider */
.box-slider-big{
	height: 100%;
	.slick-slide .item-img{
		opacity: 0.3;
	}
	.slick-current .item-img{
		opacity: 1;
	}
}
.box-slider-big__item{
	position: relative;
	height: 100%;
}
.item-img{
	display: block;
  width: 100%;
	height: 100%;
	background-size: cover;
	& img {
		width: 100%;
	}
	&::before{
		content: "";
		position: absolute;
		display: block;
		top: 35%;
		left: 0;
		width: 100%;
		height: 65%;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
	}
}

.slick-prev,
.slick-next{
	position: absolute;
	top: 43.8%;
	width: 70px;
	height: 70px;
	text-align: center;
	z-index: 99;
	background-color: rgba(20, 25, 30, 0.5);
	transition: $default-transition;
	&:hover{
		background-color: rgba(20, 25, 30, 0.9);
	}
}
.slick-prev{
	left: 85px;
}
.slick-next{
	right: 86px;
}
.sprite_white-next,
.sprite_white-prev{
	margin: 31px auto;
}
.item-descr{
	position: absolute;
	left: 24px;
	bottom: 18px;
	z-index: 99;
	& span{
		display: block;
		line-height: 1.769em;
	}
	& span:first-child{
		color: rgb(189, 192, 192);
	}
	& span:last-child{
		text-transform: uppercase;
		font-size: 1.154em;
		color: #fff;
	}
}
.slick-slide .item-descr{
	display: none;
}
.slick-active .item-descr{
	display: block;
}

		/* small slider */
.box-slider-small-text{
	position: absolute;
	top: 63px;
	left: 12.032%;
	width: 40px;
	height: 80px;
	font-size: 1.308em;
	font-weight: 500;
	line-height: 1.4em;
	text-transform: uppercase;
}
.js-text-hide{
	display: none;
}
.box-slider-small{
	width: 60.157%;
	margin: 0 auto;
	padding: 31px 0 31px;
	&__item{
		position: relative;
		width: 100%;
		height: 100%;
		&:hover{
			.item-img::before{
				background: rgba(0, 0, 0, 0.75);
				transition: $default-transition;
			}
			.item-descr{
				left: 21%;
				bottom: 32%;
				text-align: center;
				transition: all 0.4s ease;
				& span{
					font-size: 1.077em;
					line-height: 1.369em;
					transition: all 0.4s ease;
				}
			}
		}
	}
	.slick-prev,
	.slick-next{
		position: absolute;
		top: 29px;
		width: 70px;
		height: 68%;
		text-align: center;
		z-index: 99;
		background-color: rgb(218, 218, 218);
		transition: $default-transition;
		&:hover{
			background-color: rgb(180, 180, 180);
		}
	}
	.slick-prev{
		left: -13%;
	}
	.slick-next{
		right: -13%;
	}
	.sprite_black-next,
	.sprite_black-prev{
		position: absolute;
		top: 48%;
		left: 46%;
	}
}
.slick-prev.slick-disabled{
	visibility: hidden;
}
.box-slider-small__item{
	margin: 0 15px;
	&:nth-child(5n+4){
		margin-left: 10px;
	}
	&:nth-child(4){
		margin-left: 15px;
	}
	.item-img{
		display: inline-block;
		width: 100%;
		background: center no-repeat;
		background-size: cover;
		.item-img img{
			width: 100%;
		}
		&::before{
			top: 0;
			width: 100%;
			height: 97%;
			background: rgba(0, 0, 0, 0.4);
			transition: $default-transition;
		}
	}
	.item-descr{
		left: 8px;
		bottom: 7px;
		transition: $default-transition;
		& span{
			font-size: 0.92em;
			font-weight: 300;
			letter-spacing: 0.5px;
			text-transform: none;
			transition: $default-transition;
		}
	} 
}

.slick-prev,
.slick-next,
.item-img,
.item-descr{
	cursor: pointer;
}

/* box-preview */
.box-preview{
	padding: 87px 0 76px;
	text-align: center;
	border-bottom: 1px solid rgb(237, 232, 228);
}
.box-preview-content{
	width: 570px;
	margin: 23px auto 0;
}
.box-preview-content p{
	margin-left: 2px;
	letter-spacing: 0.2px;
}
.box-preview-content p:first-child{
	margin-left: -1px;
	padding-bottom: 0px;
	font-size: 1.538em;
}
.box-preview-content p:last-child{
	line-height: 1.779em;
}
.box-preview-button{
	margin-top: 29px;
}
.button{
	display: inline-block;
	padding: 9.5px 38px;
	font-size: 0.923em;
	font-weight: 700;
	line-height: 1.769em;
	letter-spacing: 0.45px;
	text-transform: uppercase;
	color: #fff;
	background-color: $title-color-brown;
	border-bottom: 3px solid rgb(145, 122, 100);
	transition: all 0.2s ease;
	&:hover{
		background-color: rgb(145, 122, 100);
	}
}

/* box-price */
.box-price{
	padding: 28px 0 40px 0;
}
.box-price-title{
	padding-bottom: 30px;
	text-align: center;
}
.box-price-content{
	width: 870px;
	margin: 0 auto;
}
.content-item__box-title,
.content-item__box-options-list,
.content-item__box-button,
.content-item__box-gift{
	text-align: center;
	border: 1px solid rgb(234, 234, 234);
}
.content-item{
	display: inline-block;
	width: 270px;
	margin-right: 27px;
	&:last-child{
		margin-right: -5px;
	}
	&__box-title{
		& h3{
			padding: 18px 0 0;
			font-size: 1.308em;
			line-height: 1.769em;
			color: $title-color-brown;
		}
		& p{
			padding: 0 0 23px;
			margin: -2px 0 0 -1px;
		}
	}
	&__box-options-list{
		margin-top: -1px;
		padding: 33px 0 32px 52px;
		text-align: left;
		list-style: none;
	}
	&__box-button{
		margin-top: -1px;
		& p{
			padding: 32px 0 30px;
			font-size: 1.538em;
			letter-spacing: 0.35px;
			& span {
				font-family: 'ALSRubl';
			}
		}
		.button{
			margin-bottom: 33px;
			padding: 8px 51px;
			color: $title-color-brown;
			border: 1px solid #a38c76;
			background-color: #fff;
			transition: $default-transition;
			&:hover{
				color: #fff;
				border: 1px solid #fff;
				background-color:  $title-color-brown;
				}
		}
	}
	&__box-gift{
		position: relative;
		text-align: left;
		cursor: pointer;
		transition: all 0.4s ease;
		&::before{
			content: "";
			position: absolute;
			top: -190px;
			left: -10px;
			width: 40px;
			height: 186px;
			background: url(../img/arrow-red.png) center no-repeat;
		}
		&:hover{
			background-color: #e64545;
			border: 1px solid #e64545;
			.box-gift__icon i{
				position: relative;
				&::before{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 39px;
  				height: 43px;
					background: url(../img/sprite.png) -10px -163px no-repeat;
				}
			}
			.box-gift__text p,
			.box-gift__text span{
				color: #fff;
			}
		}
		.box-gift__icon{
			display: inline-block;
			vertical-align: top;
			width: 15%;
			margin: 21px 0 0 23px;
		}
		.box-gift__text{
			display: inline-block;
			vertical-align: top;
			width: 75%;
			margin-right: -5px;
			padding-left: 15px;
		}
		& p{
			padding: 14px 0 9px;
			line-height: 1.58em;
		}
		& span{
			display: block;
			margin-bottom: 17px;
			font-size: 1.154em;
			color: #e64545;
		}
	}

}
.box-options-list{
	&__item{
		position: relative;
		line-height: 2.308em;
		&::before{
			content: "";
			position: absolute;
			top: 11px;
			left: -24px;
			width: 13px;
		  height: 11px;
			background: url(../img/sprite.png) -10px -250px no-repeat;
		}
	}
}
.box-options-list__item:nth-child(9) span{
		display: inline-block;
		text-align: center;
		margin-left: 10px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 1px solid #d1d1d1;
		text-align: center;
		font-size: 0.846em;
		line-height: 1.538em;
		color: $text-color;
}
.content-item:nth-child(3){
	.content-item__box-gift{
		visibility: hidden;
	}
}

.box-options-list__item_not-option{
	color: rgb(170, 170, 170);
	&::before{
		top: 12px;
		left: -22px;
	  height: 9px;
		background: url(../img/sprite.png) -31px -274px no-repeat;
	}
}

.content-item:nth-child(1){
	.box-options-list__item:nth-child(8),
	.box-options-list__item:nth-child(9),
	.box-options-list__item:nth-child(10){
		color: rgb(170, 170, 170);
		&::before{
			top: 12px;
			left: -22px;
			width: 9px;
		  height: 9px;
			background: url(../img/sprite.png) -31px -274px no-repeat;
		}
	}
}

/* box-calc */
.box-calc{
	padding: 19px 0 97px 0;
	text-align: center;
	.box-form{
		width: 100%;
		height: 100%;
		box-shadow: none;
		background: none;
		form{
			width: 830px;
			text-align: left;
			margin: 0 auto;
			padding: 33px 30px 53px;
		}
		.box-field{
			margin-bottom: 40px;
			&__label{
				display: block;
				margin-bottom: 10px;
				font-size: 1.077em;
				line-height: 1.769em;
			}
		}
		.button{
			padding: 10px 29px;
		}
	}
}
.box-field{
	&__input{
		position: relative;
		&_range{
			margin-top: 27px;
		}
	}
}
.box-field-left,
.box-field-right{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.box-field-left{
	padding-right: 15px;
}
.box-field-right{
	margin-right: -5px;
	padding-left: 12px;
}
.jq-selectbox__select{
	padding-left: 13px;
	font-family: $base-font-family;
	font-size: 0.923em;
	font-weight: 500;
	line-height: 1.769em;
	border: 0;
	border-radius: 0;
	background-color: #ebebeb;
}
.jq-selectbox__dropdown{
	border-radius: 0;
	border-color: #ebebeb;
}
.jq-selectbox li{
	font-family: $base-font-family;
	&.selected{
		background-color: #a38c76;
	}
	&:hover{
		background-color: #917a64;
	}
}
.jq-selectbox__trigger-arrow{
	border: 0;
	background: url(../img/sprite.png) -10px -291px no-repeat;
	width: 8px;
  height: 6px;
}			
.point-slider{
	position: absolute;
	display: block;
	top: -15px;
	left: 0;
	width: 100px;
	height: 40px;
	margin-right: 25px;
	padding-top: 10px;
	text-align: center;
	font-size: 0.923em;
	line-height: 1.769em;
	font-weight: 500;
	background-color: #ebebeb;
}
.js-range{
	position: relative;
	height: 7px;
	margin-left: 122px;
	&::before,
	&::after{
		position: absolute;
		display: inline-block;
		font-size: 1.077em;
		line-height: 1.769em;
	}
	&::before{
		content: "0";
		top: -27px;
		left: -2px;
	}
	&::after{
		content: "500";
		top: -29px;
		right: -2px;
	}
	& span:nth-child(3){
		display: none;
	}
}
.ui-widget.ui-widget-content{
	border: 0;
	border-radius: 0;
	background-color: rgba(163, 140, 118, 0.5);
}
.ui-widget-content .ui-state-default {
	width: 15px;
	height: 14px;
	border: 0;
	border-radius: 0;
	background: url(../img/handle.png) center no-repeat $title-color-brown;
}
.list-check{
	list-style: none;
	&__item{
		display: inline-block;
	}
}
.label-text{
	display: inline-block;
	margin-right: 36px;
	line-height: 1.538em;

}
.jq-checkbox{
	border: 0;
	border-radius: 0;
	width: 20px;
	height: 20px;
	margin-right: 6px;
	background-color: #ebebeb;
	&.checked{
		background-color: rgba(163, 140, 118, 1);
		.jq-checkbox__div{
			width: 15px;
			height: 15px;
			margin: 5px 0 0 5px;
			background: url(../img/sprite.png) -10px -271px no-repeat rgba(163, 140, 118, 0.4);
		}
	}
}
/* box-calc */


/* box-app */
.box-app{
	padding: 59px 0 0 0;
	background: url(../img/img-background/bg-box_app.jpg) bottom no-repeat;
	background-size: cover;
	box-shadow:0 0 0 9999px rgba(255, 255, 255, 0.85) inset;
	&-content{
		width: 776px;
		margin: 0 auto;
	}
}
.content-left,
.content-right{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.content-left{
	padding-top: 42px;
	& h2 {
		font-size: 3.077em;
		font-weight: 300;
		line-height: 0.45em;
		letter-spacing: 0;
	}
	& p{
		padding: 9px 0 0 2px;
		line-height: 1.769em;
	}
}
.content-left-icon{
	padding: 32px 0 0 3px;
	&__item{
		display: inline-block;
		width: 89px;
		height: 31px;
		margin-right: 12px;
		background-size: 100%;
		& a{
			display: block;
			width: 89px;
			height: 31px;
			background-size: 100%;
		}
		&_item_first a{
			background: url(../img/img-app-store.png) center no-repeat;
		}
		&_item_second a{
			background: url(../img/img-google-play.png) center no-repeat;
		}
	}
}
.content-right{
	margin-left: -5px;
	padding: 0 0 0 63px;
}
.content-right-image{
	width: 323px;
	&__item{
		height: 341px;
		background: url(../img/img-hend.png) center no-repeat;
		background-size: 100%;
	}
}

/* box-callback */
.box-callback{
	padding: 90px 0 112px 0;
	background: url(../img/img-background/bg-box_callback.jpg) bottom no-repeat;
	background-size: cover;
	box-shadow:0 0 0 9999px rgba(255, 255, 255, 0.8) inset;
}
.box-callback-content{
	width: 978px;
	margin: 0 auto;
	.content-left{
		padding-top: 53px;
		& h2{
			padding-bottom: 10px;
			line-height: 1.15em;
		}
		& p{
			padding: 0 163px 0 2px;
			font-size: 1.077em;
			line-height: 1.846em;
		}
	}
	.content-right{
		padding: 0 0 0 17px;
	}
}
.box-form{
	width: 470px;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.2);
}
form{
	padding: 57px 50px 44px;
	text-align: center;
	.button{
		border: none;
		margin-top: 40px;
		padding: 10px 77px;
		letter-spacing: 0.5px;
		border-bottom: 3px solid rgb(145, 122, 100);
	}
}
.form-control{
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding: 0 13px;
	font-size: 0.923em;
	line-height: 1.846em;
	border: none;
	background-color: rgb(235, 235, 235);
}

/* box-about-us */
.box-about-us{
	padding-top: 59px;
	background-color: #f6f6f6;
}
.box-about-us-content{
	width: 978px;
	margin: 0 auto;
	.content-left{
		width: 38%;
		margin-left: -66px;
		padding: 0;
	}
	.content-right{
		width: 62%;
		max-width: 570px;
		padding: 18px 0 0 99px;
		& h2{
			position: relative;
			font-family: 'Merriweather';
			font-size: 1.923em;
			font-weight: 300;
			font-style: italic;
			line-height: 1.769;
			letter-spacing: 0;
			&::before{
				content: "";
				position: absolute;
				top: 2px;
				left: -47px;
				width: 44px;
  			height: 39px;
				background: url(../img/sprite.png) -10px -61px no-repeat;
			}
		}
		& p{
			width: 569px;
			margin-left: 1px;
			padding-top: 1px;
			line-height: 1.95em;
			word-wrap: normal;
		}
		&__text{
			display: none;
			font-size: 1.585em;
			line-height: 1.769em;
			float: right;
			padding-left: 100px;
		}
		&__text p span{
			color:  #a5a5a5;
			font-size: 0.7em;
			line-height: 1.769em;
		}

		.button{
			margin-top: 43px;
			padding: 10px 35px;
			letter-spacing: 0.55px;
		}
	}
}
.content-left-image{
	position: relative;
	width: 244px;
	&__img{
		height: 409px;
		background: url(../img/cool-man.png) center no-repeat;
		background-size: 100%;
	}
	&__text{
		position: absolute;
		width: 150px;
		bottom: 80px;
		right: -113px;
		span:first-child{
			display: inline-block;
			color:  #a5a5a5;
			line-height: 1.769em;
		}
		span:last-child{
			display: inline-block;
			margin: -1px 0 0 -1px;
			font-size: 1.385em;
			line-height: 1.769em;
		}
	}
}

/*popup*/
.popup{
   position:absolute;
   left:-9999px;
   top:-9999px;
   opacity: 0;
}
.window-open{
   width: 100%;
   background: #fff;
   position: relative;
}
.fancybox-overlay{
	background: rgba(0, 0, 0, 0.8)
}
.fancybox-skin{
	border-radius: 0;
	background-color: transparent;
}
.fancybox-opened .fancybox-skin{
	box-shadow: none;
}
.fancybox-title{
	display: none;
}
.fancybox-close{
	background: url(../img/sprite.png) -33px -250px no-repeat;
  width: 15px;
  height: 15px;
  top: -19px;
  right: 48%;
}

#popup-form{
  width: 570px;
  height: auto;
	padding: 29px 100px 40px;
	text-align: center;
	.button{
		margin-top: 35px;
	}
	textarea{
		border: 0;
		resize: none;
		width: 100%;
		padding: 13px 0 0 13px;
		background-color: #ebebeb;
	}
}
.box-title p{
	font-size: 1.308em;
	padding-bottom: 34px;
}
/*popup*/



@media screen and (max-width: 1240px) {
	.box-home-baner{
		right: 30px;
	}
}

@media screen and (max-width: 1200px) {
	.content-left h2{
		font-size: 2.865em;
	}
	.box-callback-content{
		.content-left{
			& p{
				padding-right: 45px;
			}
		}
	}
}

@media screen and (max-width: 1140px) {
	.box-home-title p{
		font-size: 4.923em
	}
	.box-home-title h1{
		font-size: 2.846em;
	}
	.box-home-baner{
		width: 200px;
		height: 85px;
		padding: 9px 15px;
		font-size: 0.775em;
	}
	.content-left{
		padding-left: 31px;
	}
	.box-callback-content{
		.content-right{
			padding-left: 0;
		}
	}
	.box-about-us-content{
		.content-left{
			margin: 0;
		}
		.content-right p{
			width: 100%;
		}
	}
}

@media screen and (max-width: 1040px) {
	.box-callback-content{
		width: 100%;
	}
	.box-about-us-content{
		width: 100%;
		.content-right{
			padding:18px 0px 0 35px;
			max-width: 520px;
			float: right;
		}
	}
}

@media screen and (max-width: 991px) {
	.slick-prev{
		left: 30px;
	}
	.slick-next{
		right: 30px;
	}
	.box-slider-small{
		&-text{
			font-size: 1em;
		}
		.slick-prev,
		.slick-next{
			width: 50px;
		}
	}
	.box-price-content{
		width: 100%;
	}
	.content-item{
		display: block;
		width: 400px;
		margin: 0 auto 40px;
		&__box-options-list{
			padding-left: 130px;
		}
		&__box-gift{
			& .box-gift__icon{
				margin-left: 70px;
			}
			&::before{
			left: 55px;
			}
			& .box-gift__text{
				width: 55%;
			}
		}
		&:last-child{
			margin: 0 auto;
			.content-item__box-gift{
				display: none;
			}
		}
	}
	.box-options-list__item:nth-child(9)::after{
		right: 70px;
	}
	.content-left-image{
		width: 71%;
		&__img{
			background-position: bottom;
		}
		&__text{
			bottom: 15%;
		}
	}
	.box-about-us-content .content-right{
		& h2{
			font-size: 1.523em;
		}
		& p{
			font-size: 0.875em;
		}
		.button{
			margin-top: 18px;
		}
	}
	.box-callback{
		padding: 25px 0 45px;
	}
	.box-callback-content{
		.content-left{
			width: 100%;
			padding: 0;
			text-align: center;
			& h2{
				font-size: 2.4em;
			}
		}
		.content-right{
			width: 100%;
			margin: 0;
		}
		.box-form{
			width: 90%;
			margin: 25px auto 0;
		}
	}
}

@media screen and (max-width: 910px) {
	.box-calc .box-form{
		& form{
			width: 100%;
			padding: 0 10px 33px;
		}
		.box-field{
			margin-bottom: 20px;
			&-left{
				margin-bottom: 20px;
			}
		}
		& .button{
			margin-bottom: 25px;
		}
	}
	.list-check__item{
		margin-top: 10px;
	}
}


@media screen and (max-width: 767px) {
	h2{
		font-size: 1.769em;
	}
	.box-home-title p{
		font-size: 3.223em;
	}
	.box-home-title h1{
		font-size: 1.846em;
	}
	.box-home-baner{
		bottom: 78px;
	}
	.box-slider{
		padding-bottom: 65px;
		&__title{
			padding: 0;
		}
	}
	.wrapper-slider:last-child{
		display: none;
	}
	.box-advantages{
		padding: 45px 0;
	}
	.box-advantages-content p:first-child{
		font-size: 1em;
	}
	.box-advantages-content p:last-child{
		font-size: 1.241em;
	}
	.box-preview{
		padding: 35px 0
	}
	.box-preview-content{
		width: 100%
	}
	.box-price{
		padding: 20px 0;
	}
	.box-price-title{
		padding: 0;
	}
	.box-calc{
		padding-bottom: 0;
	}
	.box-field-left,
	.box-field-right{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.box-calc .box-form{
		.box-field__label{
			font-size: 0.975em;
		}
	}
	.label-text{
		font-size: 0.935em;
	}
	.box-app-content{
		width: 100%
	}
	.content-left,
	.content-right{
		padding-left: 10px;
	}
	.box-about-us-content{
		text-align: center;
		padding-top: 25px;
		.content-left{
			display: none;
		}
		.content-right{
			text-align: left;
			width: 100%;
			float: none;
			&__text{
				display: block;
			}
			.button{
				margin-bottom: 45px;
			}
		}
	}
	.box-app{
		padding-top: 25px;
	}
}

@media screen and (max-width: 650px){
	.content-left{
		width: 55%;
		padding-left: 0px; 
		& h2{
			font-size: 2.4em
		}
		&  p {
			font-size: 0.875em;
		}
	} 
	.content-right{
		width: 45%;
		padding-left: 5px;
	}
	.box-callback-content{
		.content-left{
			& h2{
				font-size: 2.1em;
			}
		}
	}
	#popup-form{
		width: 370px;
		padding: 29px 25px 40px; 
	}
	.window-open{
		width: 370px;
		margin: 00 auto;
	}
}

@media screen and (max-width: 550px) {
	.item-descr{
		font-size: 0.675em;
		left: 12px;
		bottom: 9px;
	}
	.box-advantages-content p:first-child{
		font-size: 0.933em;
	}
	.box-advantages-content p:last-child{
		font-size: 1.177em;
	}
	.box-preview-content p:first-child{
		font-size: 1.338em;
	}
	.box-preview-content p:last-child{
		font-size: 0.875em;
	}
	.box-about-us-content{
		.content-right{
			& h2{
				font-size: 1.323em;
			}
			&__text{
				font-size: 1.3em;
				padding-left: 0;
				& p{
					padding: 5px 0;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.wrapper{
		padding: 0 10px;
	}
	h2{
		font-size: 1.2em;
		font-weight: 400;
	}
	.box-home-title p{
		font-size: 2.721em;
	}
	.box-home-title h1{
		font-size: 1.546em;
	}
	.box-slider{
		padding-bottom: 25px;
	}
	.box-advantages{
		padding: 25px 0;
	}
	.box-preview{
		padding: 25px 0;
		&-content{
			margin-top: 13px;
		}
		&-button{
			margin-top: 14px;
		}
	}
	.content-item{
		width: 270px;
		margin: 0 auto 30px;
		&__box-options-list{
			padding: 15px 45px;
		}
		&__box-gift{
			& .box-gift__icon{
				margin-left: 15px;
			}
			&::before{
				top: -175px;
				left: -15px;
			}
			& .box-gift__text{
				width: 75%;
			}
		}
		&:last-child{
			margin: 0 auto;
			.content-item__box-gift{
				display: none;
			}
		}
	}
	.box-options-list__item:nth-child(9)::after{
		right: -20px;
	}
	.box-about-us-content{
		.content-right{
			padding-left: 10px;
			& h2{
				margin-left: 45px;
			}
			.button{
			 	text-align: center;
			}
		}
	}
	.box-form{
		width: 100%;
		form{
			padding: 52px 20px;
		}
	}
	.box-app{
		.content-right{
			display: none;
		}
	}
	.content-left{
		text-align: center;
		width: 100%;
		padding: 0 0 25px;
	}
	#popup-form{
		width: 260px;
		padding: 29px 12px 40px; 
	}
	.window-open{
		width: 260px;
		margin: 0 auto;
	}
}




/* placholder */
input::-webkit-input-placeholder {font-weight: 500}
input::-moz-placeholder          {font-weight: 500}/* Firefox 19+ */
input:-moz-placeholder           {font-weight: 500}/* Firefox 18- */
input:-ms-input-placeholder      {font-weight: 500}

textarea::-webkit-input-placeholder {font-weight: 500}
textarea::-moz-placeholder          {font-weight: 500}/* Firefox 19+ */
textarea:-moz-placeholder           {font-weight: 500}/* Firefox 18- */
textarea:-ms-input-placeholder      {font-weight: 500}