
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	text-align: left;
	width: 100%;
	min-width: $min-width;
	padding: 7px 0 15px 0;
	order: 3;	
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 480px) {
	
}