
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	min-width: $min-width;
	padding: 0 25px;
	order: 1;
	color: #fff;
}
.box-header a{
	color: #fff;
}
.box-logo{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: $title-color-brown;
	&__link{
		display: block;
		width: inherit;
		height: inherit;
		padding: 13px 0 0 8px;
	}
	&__text{
		display: block;
		font-size: 0.923em;
		line-height: 1.769em;
	}
}
.box-nav{
	display: inline-block;
	vertical-align: top;
}
.main-nav{
	padding: 41px 23px;
}
.main-nav-list{
	list-style: none;
	&__item{
		display: inline-block;
		margin-right: 18px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 1.385em;
	}
	&__item:last-child{
		margin-right: 0;
	}
	&__link{
		display: block;
		&:hover{
			transform: scale(1.1);
			border-bottom: 1px solid #fff;
		}
	}
}
.box-contacts{
	display: inline-block;
	vertical-align: top;
	float: right;
	width: 270px;
	height: 100px;
	padding: 11px 0 0 33px;
	background-color: rgba(163, 140, 118, 0.5);
	&__time-work{
		display: block;
		line-height: 1.769em;
	}
	&__tel{
		display: block;
		font-size: 1.923em;
		line-height: 1.185em;
	}
	&__link{
		display: inline-block;
		line-height: 1.769em;
		margin-left: 2px;
		padding-bottom: 1px;
		border-bottom: 1px dashed #fff;
		&:hover{
			border-bottom: 1px solid #fff;
		}
	}
}
.box-nav-mobile{
	display: none;
}


@media screen and (max-width: 1240px) {
	.box-header{
		padding: 0;
	}
	.main-nav-list__item{
		margin-right: 10px;
	}
}

@media screen and (max-width: 1140px){
	.main-nav-list__item{
		font-size: 0.875em;
	}
	.box-contacts{
		width: 200px;
		height: 85px;
		padding-left: 23px;
		font-size: 0.775em;
	}
}

@media screen and (min-width: 992px){

}

@media screen and (max-width: 991px) {
	.box-nav,
	.box-contacts{
		display: none;
	}
	.box-nav{
		background-color: #fff;
	}
	.main-nav{
		padding: 15px 0;
		& a{
			width: 87%;
			color: #a38c76;
			&:hover{
				border-color: #a38c76;
			}
		}
	}
	.main-nav-list{
		&__item{
			display: block;
			padding: 10px 0 10px 105px;
			font-size: 1.077em;
		}
	}
	.box-nav-mobile{
		display: inline-block;
		float: right;
		padding-top: 25px;
	}
	.tel-mobile{
		display: inline-block;
		width: 40px;
		height: 35px;
		padding-top: 8px;
		text-align: center;
		font-size: 2.5em;
		&:hover{
			transform: rotate(360deg);
		}
	}
	.button-nav{
		display: block;
		position: relative;
		float: right;
		width: 40px;
		height: 35px;
		margin-left: 20px;
	}
	.button-nav span{
		display: block;
		width: 28px;
		height: 3px;
		background: #fff;
		margin: 6px auto;
	}
	.button-nav.active{
		margin-top: 40px;
	}
	.button-nav.active span:nth-child(2){
		background: transparent;
	}
	.button-nav.active span:nth-child(1),
	.button-nav.active span:nth-child(3){
		position: absolute;
		margin: 0;
	}
	.button-nav.active span:nth-child(1){
		top: 10px;
		left: 6px;
		transform: rotate(-45deg);
	}
	.button-nav.active span:nth-child(3){
		top: 10px;
		right: 6px;
		transform: rotate(45deg);
	}
}


@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
		
}

@media screen and (max-width: 480px) {
	.main-nav-list__item{
		padding: 10px 0 10px 35px;
	}
}

	