/* Ubuntu */
@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu Bold.eot');
	src: url('../fonts/Ubuntu/Ubuntu Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/Ubuntu Bold.woff') format('woff'),
		url('../fonts/Ubuntu/Ubuntu Bold.ttf') format('truetype'),
		url('../fonts/Ubuntu/Ubuntu Bold.svg#Ubuntu Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2074;
}

@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu Bold Italic.eot');
	src: url('../fonts/Ubuntu/Ubuntu Bold Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/Ubuntu Bold Italic.woff') format('woff'),
		url('../fonts/Ubuntu/Ubuntu Bold Italic.ttf') format('truetype'),
		url('../fonts/Ubuntu/Ubuntu Bold Italic.svg#Ubuntu Bold Italic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-2074;
}

@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu Italic.eot');
	src: url('../fonts/Ubuntu/Ubuntu Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/Ubuntu Italic.woff') format('woff'),
		url('../fonts/Ubuntu/Ubuntu Italic.ttf') format('truetype'),
		url('../fonts/Ubuntu/Ubuntu Italic.svg#Ubuntu Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-2074;
}

@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu Medium.eot');
	src: url('../fonts/Ubuntu/Ubuntu Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/Ubuntu Medium.woff') format('woff'),
		url('../fonts/Ubuntu/Ubuntu Medium.ttf') format('truetype'),
		url('../fonts/Ubuntu/Ubuntu Medium.svg#u Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2074;
}

@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu MediumItalic.eot');
	src: url('../fonts/Ubuntu/Ubuntu MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/Ubuntu MediumItalic.woff') format('woff'),
		url('../fonts/Ubuntu/Ubuntu MediumItalic.ttf') format('truetype'),
		url('../fonts/Ubuntu/Ubuntu MediumItalic.svg#u MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-2074;
}

@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu.eot');
	src: url('../fonts/Ubuntu/Ubuntu.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/Ubuntu.woff') format('woff'),
		url('../fonts/Ubuntu/Ubuntu.ttf') format('truetype'),
		url('../fonts/Ubuntu/Ubuntu.svg#Ubuntu') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2074;
}

@font-face {
    font-family:'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu Light.eot');
	src: url('../fonts/Ubuntu/Ubuntu Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Ubuntu/Ubuntu Light.woff') format('woff'), url('../fonts/Ubuntu/Ubuntu Light.ttf') format('truetype'), url('../fonts/Ubuntu/Ubuntu Light.svg#Ubuntu Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}

@font-face {
    font-family:'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu Light Italic.eot');
	src: url('../fonts/Ubuntu/Ubuntu Light Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Ubuntu/Ubuntu Light Italic.woff') format('woff'), url('../fonts/Ubuntu/Ubuntu Light Italic.ttf') format('truetype'), url('../fonts/Ubuntu/Ubuntu Light Italic.svg#Ubuntu Light Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

/* 'Merriweather */
@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather UltraBold Italic.eot');
    src: url('../fonts/Merriweather/Merriweather UltraBold Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather UltraBold Italic.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather UltraBold Italic.ttf') format('truetype'),
        url('../fonts/Merriweather/Merriweather UltraBold Italic.svg#Merriweather UltraBold Italic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather UltraBold.eot');
    src: url('../fonts/Merriweather/Merriweather UltraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather UltraBold.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather UltraBold.ttf') format('truetype'),
        url('../fonts/Merriweather/Merriweather UltraBold.svg#Merriweather UltraBold') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Bold.eot');
	src: url('../fonts/Merriweather/Merriweather Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merriweather/Merriweather Bold.woff') format('woff'),
		url('../fonts/Merriweather/Merriweather Bold.ttf') format('truetype'),
		url('../fonts/Merriweather/Merriweather Bold.svg#Merriweather Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Bold Italic.eot');
    src: url('../fonts/Merriweather/Merriweather Bold Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather Bold Italic.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather Bold Italic.ttf') format('truetype'),
        url('../fonts/Merriweather/Merriweather Bold Italic.svg#Merriweather Bold Italic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Italic.eot');
	src: url('../fonts/Merriweather/Merriweather Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merriweather/Merriweather Italic.woff') format('woff'),
		url('../fonts/Merriweather/Merriweather Italic.ttf') format('truetype'),
		url('../fonts/Merriweather/Merriweather Italic.svg#Merriweather Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Regular.eot');
	src: url('../fonts/Merriweather/Merriweather Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merriweather/Merriweather Regular.woff') format('woff'),
		url('../fonts/Merriweather/Merriweather Regular.ttf') format('truetype'),
		url('../fonts/Merriweather/Merriweather Regular.svg#Merriweather Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Light.eot');
    src: url('../fonts/Merriweather/Merriweather Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather Light.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather Light.ttf') format('truetype'),
        url('../fonts/Merriweather/Merriweather Light.svg#Merriweather Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather Light Italic.eot');
    src: url('../fonts/Merriweather/Merriweather Light Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather Light Italic.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather Light Italic.ttf') format('truetype'),
        url('../fonts/Merriweather/Merriweather Light Italic.svg#Merriweather Light Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-050F;
}

/*ALSRubl*/
@font-face {
    font-family:'ALSRubl';
    src: url('../fonts/ALSRubl/ALSRubl.eot');
    src: url('../fonts/ALSRubl/ALSRubl.eot?#iefix') format('embedded-opentype'), url('../fonts/ALSRubl/ALSRubl.woff') format('woff'), url('../fonts/ALSRubl/ALSRubl.ttf') format('truetype'), url('../fonts/ALSRubl/ALSRubl.svg#ALSRubl') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0078;
}