/* Sprite */
 
.sprite_info,
.sprite_quote,
.sprite_gift-red,
.sprite_gift-white,
.sprite_chevron-down,
.sprite_yes-option,
.sprite_exit,
.sprite_chackbox,
.sprite_not-option,
.sprite_black-down,
.sprite_black-next,
.sprite_black-prev,
.sprite_white-next,
.sprite_white-prev { 
	display: inline-block; 
	background: url('../img/sprite.png') no-repeat; 
	overflow: hidden; 
	text-indent: -9999px; 
	text-align: left;
}
 
.sprite_info {
  background-position: -10px -0px;
  width: 51px;
  height: 51px;
}

.sprite_quote {
  background-position: -10px -61px;
  width: 44px;
  height: 39px;
}

.sprite_gift-red {
  background-position: -10px -110px;
  width: 39px;
  height: 43px;
}

.sprite_gift-white {
  background-position: -10px -163px;
  width: 39px;
  height: 43px;
}

.sprite_chevron-down {
  background-position: -10px -216px;
  width: 26px;
  height: 24px;
}

.sprite_yes-option {
  background-position: -10px -250px;
  width: 13px;
  height: 11px;
}

.sprite_exit {
  background-position: -33px -250px;
  width: 12px;
  height: 14px;
}

.sprite_chackbox {
  background-position: -10px -271px;
  width: 11px;
  height: 10px;
}

.sprite_not-option {
  background-position: -31px -274px;
  width: 9px;
  height: 9px;
}

.sprite_black-down {
  background-position: -10px -291px;
  width: 8px;
  height: 6px;
}

.sprite_black-next {
  background-position: -28px -293px;
  width: 7px;
  height: 10px;
}

.sprite_black-prev {
  background-position: -10px -307px;
  width: 7px;
  height: 10px;
}

.sprite_white-next {
  background-position: -45px -293px;
  width: 6px;
  height: 8px;
}

.sprite_white-prev {
  background-position: -45px -311px;
  width: 6px;
  height: 8px;
}